<li class="col">
  <a href="#" class="card border-0 hover-shadow">
    <div class="card-header pb-2 pb-md-3 border-bottom border-primary border-3">
      <h4 class="fs-4 fs-lg-3 text-uppercase"><%= item.date %></h4>
    </div>
    <div class="card-body pt-5 pt-md-3">
      <div class="event-img mb-3">
        <img
          src="<%= item.imgUrl %>"
          alt="<%= item.title %>"
          class="w-100 object-fit-cover"
        />
      </div>
      <h3 class="card-title noto-serif-tc fs-md-5 fw-bold mb-md-3">
        <%=item.title%>
      </h3>
      <p class="card-text noto-sans-tc mb-5"><%= item.text %></p>
    </div>
    <div
      class="card-footer border-top border-bottom border-primary border-2 py-2 py-md-3 d-flex justify-content-between"
    >
      <button
        type="button"
        class="d-flex align-items-center noto-serif-tc fw-bold border-0 bg-transparent ps-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          class="me-1"
        >
          <g clip-path="url(#clip0_11_107)">
            <path
              d="M23.625 12C23.625 12 22.635 12.1875 20.7787 12.375C18.9225 12.5625 16.2037 12.75 12.75 12.75C12.75 19.6575 12 23.625 12 23.625C12 23.625 11.8125 22.635 11.625 20.7787C11.4375 18.9225 11.25 16.2037 11.25 12.75C4.3425 12.75 0.375 12 0.375 12C0.375 12 1.365 11.8125 3.22125 11.625C5.0775 11.4375 7.79625 11.25 11.25 11.25C11.25 4.3425 12 0.375 12 0.375C12 0.375 12.75 4.3425 12.75 11.25C19.6575 11.25 23.625 12 23.625 12Z"
              fill="#030303"
            />
            <path
              d="M12.75 10.5C15 7.5 17.25 6.75 17.25 6.75C16.2833 8.46505 15.0126 9.98989 13.5 11.25"
              fill="#030303"
            />
            <path
              d="M10.5 11.25C7.5 9 6.75 6.75 6.75 6.75C8.46505 7.71668 9.98989 8.98738 11.25 10.5"
              fill="#030303"
            />
            <path
              d="M11.25 13.5C9 16.5 6.75 17.25 6.75 17.25C7.71668 15.5349 8.98738 14.0101 10.5 12.75"
              fill="#030303"
            />
            <path
              d="M13.5 12.75C16.5 15 17.25 17.25 17.25 17.25C15.5349 16.2833 14.0101 15.0126 12.75 13.5"
              fill="#030303"
            />
            <path
              d="M12 13.875C13.0355 13.875 13.875 13.0355 13.875 12C13.875 10.9645 13.0355 10.125 12 10.125C10.9645 10.125 10.125 10.9645 10.125 12C10.125 13.0355 10.9645 13.875 12 13.875Z"
              fill="#030303"
            />
          </g>
          <defs>
            <clipPath id="clip0_11_107">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span class="hover-underline"><%= item.cate %></span>
      </button>
      <button
        type="button"
        class="fw-bold noto-sans-tc position-relative hover-circle px-0 border-0 bg-transparent"
      >
        <%= item.state %> &raquo;
      </button>
    </div>
  </a>
</li>
